virt-install --name '$name' --ram $memory --disk path=/var/lib/libvirt/images/$name,size=$size --vcpus $vCpus --os-type linux --os-variant generic --network bridge=virbr0 --graphics none --console pty,target_type=serial --location 'http://ftp.nl.debian.org/debian/dists/jessie/main/installer-amd64/' --extra-args 'console=ttyS0'