virt-install \
--name '$name' \
--ram $memory \
--disk path=/var/lib/libvirt/images/$name,size=$size \
--vcpus $vCpus \
--os-type linux \
--os-variant ubuntuprecise \
--network bridge=virbr0 \
--graphics none \
--console pty,target_type=serial \
--location 'http://jp.archive.ubuntu.com/ubuntu/dists/precise/main/installer-amd64/' \
--extra-args 'console=ttyS0'