virt-install \
--name '$name' \
--ram $memory \
--disk path=/var/lib/libvirt/images/$name,size=$size \
--vcpus $vCpus \
--os-type linux \
--os-variant ubuntuprecise \
--network bridge=$networkInterface \
--graphics none \
#if( !$ksPath )
--console pty,target_type=serial \
#end
--location 'http://jp.archive.ubuntu.com/ubuntu/dists/precise/main/installer-amd64/' \
#if( $ksPath && $ksName )
--initrd-inject='$ksPath' \
--extra-args "ks=file:/$ksName console=ttyS0" \
#else
--extra-args 'console=ttyS0' \
#end
--noreboot