lang en_US

langsupport en_US

keyboard us

mouse

timezone America/New_York

#if( $rootPassword )
#if( $encryptRootPassword == "true")
rootpw --iscrypted $rootPassword
#else
rootpw $rootPassword
#end
#else
rootpw --disabled
#end

#if($sudoUser && $sudoPassword )
user $sudoUser --password $sudoPassword --fullname $fullName
#else
user --disabled
#end

#Reboot after installation
reboot

text

install

cdrom

bootloader --location=mbr

zerombr yes

clearpart --all --initlabel

part swap --size 1024
part /boot --fstype ext4 --size 256 --asprimary
part / --fstype ext4 --size 1 --grow --asprimary

auth  --useshadow  --enablemd5

network --bootproto=dhcp --device=eth0

firewall --disabled --trust=eth0 --ssh

skipx

preseed user-setup/allow-password-weak boolean true